#term{
  display: inline-block !important;
  float: left;
  
} 

#term input {
  display: inline-block;
  width: 5% !important;
}

#term label {
  width: 95%;
  line-height: 2px !important;
}

#msform {
	width: 50%;
	margin: 200px auto;
  	
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 40px 50px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	margin-bottom: 200px;
	transition: all ease 0.4s;
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}


/*inputs*/
#gender input{
  display: inline-block;
  padding: 0;
  margin: 0 auto !important;
  position: relative;
  width: 5% !important;
}

#gender label{
  display: inline-block;
  margin: 0 auto;
  width:5%;
}
#gender{
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-block;
  float: left;
  width: 100%;
}

#msform h3 {
  font-family: Lato;
}
#msform input, #msform textarea {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 20px;
	width: 100%;
	box-sizing: border-box;
	font-family: Lato;
	color: #2C3E50;
	font-size: 1.05vw;
}


/*buttons*/
#msform .action-button {
	width: 100px;
	background: #BCDD9B;
  font-family: "Lato";
	font-weight: bold;
	color: black;
	border: 0 none;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 20px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #BCDD9B;
}
/*headings*/
.fs-title {
	font-size: 35px;
  font-family: "Libre Baskerville";
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 30px;
}
.fs-subtitle {
	font-weight: normal;
  font-family: "Lato";
	font-size: 15px;
	color: #666;
	margin-bottom: 40px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 60px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
  transition: all ease 0.3s;
}
#progressbar li {
	list-style-type: none;
	color: black;
	text-transform: uppercase;
	font-size: 18px;
  font-family: "Roboto";
	width: 33.33%;
	float: left;
	position: relative;
  transition: all ease 0.3s;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 30px;
	line-height: 30px;
	display: block;
	font-size: 15px;
	color: #333;
	background: #D1DEFF;
	border-radius: 3px;
	margin: 0 auto 5px auto;
  transition: all ease 0.3s;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 5px;
	background: #D1DEFF;
	position: absolute;
	left: -50%;
	top: 12px;
	z-index: -1; /*put it behind the numbers*/
  transition: all ease 0.3s;
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #DBFF94;
	color: black;
  transition: all ease 0.3s;
}

#color-cont {
  margin-bottom: 40px;
}

#colorPicker {

  width: 100%;
  height: 50px;
  margin-top: 10px;
  display: inline-flex;
  justify-content: center;
}

.color-circle {
  border: 2px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: auto;
  transition: all ease 0.4s;
}

.color-circle:nth-of-type(1) {
  background: #DDC79B;
}

.color-circle:nth-of-type(2) {
  background: #C7DD9B;
}

.color-circle:nth-of-type(3) {
  background: #9BDD9B;
}

.color-circle:nth-of-type(4) {
  background: #9BDDC7;
}

.color-circle:nth-of-type(5) {
  background: #9BC7DD;
}

.color-circle:nth-of-type(6) {
  background: #9B9BDD;
}

.color-circle:nth-of-type(7) {
  background: #C79BDD;
}

.color-circle:nth-of-type(8) {
  background: #DD9BC7;
}

.color-circle:nth-of-type(9) {
  background: #DD9B9B;
}

.color-circle:hover {
  transform: scale(1.1, 1.1);
}

.color-circle-active {
  transform: scale(1.1, 1.1);
  border: 2px solid black;
}

#shwPass {
	width: 5% !important;
	display: inline-block;
}


#showpass p {
	width: 18% !important;
	display: inline-block;
	text-align: left;
}

#showpass {
	display: inline-block;
	float: left;
	width: 100%;
}